/*Styling for banner design text*/
.bannertext {
  text-align: center;
  font-family: 'Segoe UI'
  }

body {
  background-color: #4b4b4c;
}

/* CSS for navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
  text-align: center;
  display: inline;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Helvetica;
}


/*Color change when cursor hovers over link in navigation bar*/
li a:hover:not(.current) {
  background-color: black;
  color: white;
}

/*Style for navigation bar to show user what page they are on*/
.current {
  background-color: #060d5c;
  color: white;
  font-weight: bold;
}

/*Banner styles and image applied using styles*/
.banner {
  background-image: url(https://www.nrscotland.gov.uk/files//research/UCI%20tartan.png);
  size-adjust: 50%;
  color: white;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-color: black;
}

.paragraph {
  position: absolute;
  width: 75%;
  left: 10%;
  background-color: grey;
  padding: 30px;
  margin: auto;
}

/*For static map image on the Home page*/
.image_positioning {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-style: solid;
  border-width: 5px;
  float: right;
}

/*For 7:5 column ratio on the visit page*/
.column {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1%;
  margin: 0 0 2%;
  background-color: grey;
  grid-column: 7 / 5;
}

.left {
  width: 56%;
  float: left;
}

.right {
  width: 43%;
  float: right;
}

.rightbox {
  float:right;
}

.link {
  background-color:black;
  color: white;
}